<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    media="screen,projection" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to <%= APP_TITLE %>
  </title>
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
  </style>
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue accent-4">
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i
              class="material-icons">menu</i></a>
          <a href="/" class="brand-logo hoverable">&nbsp;<%= APP_TITLE %>&nbsp;</a>
          <% if (page!='login' && page!='signup' ) { %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Welcome <%= user.fullname %></a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            <% } %>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">

      <% if (page!='login' && page!='signup' ) { %>
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="images/user-profile-bg.jpg">
              </div>
              <!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
              <a href="#"><span class="white-text name">
                  <%= user.fullname %>
                </span></a>
              <a href="#"><span class="white-text email">
                  <%= user.email %>
                </span></a>
            </div>
          </li>
          <li><a href="/"><i class="material-icons">home</i>Dashboard</a></li>
          <li><a href="/add"><i class="material-icons">add</i>Add</a></li>
          <li><a href="/browse"><i class="material-icons">widgets</i>Browse</a></li>
          <li>
            <div class="divider"></div>
          </li>
          <li><a href="/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
        </ul>
        <% } %>