<%- include('partials/header', {page: 'browse', title: APP_TITLE}); %>

       <div class="row" style="margin:2rem 0rem 3rem 0rem;">
         <div class="col s12 z-depth-5">
           <div class="card indigo accent-1" style="min-height: 12rem;">
             <div class="card-content">
               <span class="card-title">Your Entries</span>
               <% if(entries.length > 0) { %>
                <div class="collection">
                  <% entries.forEach(function(e) { %>
                    
                    <% 
                       var formattedDate = new Date(e.ed2).toLocaleDateString('en-US', {
                        weekday: 'long',
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                      });
                    %>
                  <a href="/add?verb=<%= e.verb %>&task=<%= e.task %>" class="collection-item">
                    <p class="fl"><%= e.verb + " " + e.task %> on <%= formattedDate %> <i class="material-icons pull-left">add_circle </i>
                    <span class="badge new blue" data-badge-caption=""><time class="timeago" datetime="<%= e.ed %>"><%= e.ed %></time></span></p>
                  </a>
                  <% }) %>
                    <ul class="pagination pull-right">
                      <% if (current_page != 1) { %>
                        <li class="waves-effect previous"><a href="/browse?page=<%= parseInt(current_page)-1 %>"><i class="material-icons">chevron_left</i> Prev</a></li>
                      <% } %>
                      <% for(var i=1; i<=pages; i++) { %>
                        <% active = (current_page == i) ? 'active' : '' %>

                          <li class="waves-effect <%= active %>"><a href="/browse?page=<%= i %>"><%= i %></a></li>
                      <% } %>
                      <% if (current_page != pages) { %>
                        <li class="waves-effect next"><a href="/browse?page=<%= parseInt(current_page)+1 %>">Next <i class="material-icons">chevron_right</i></a></li>
                      <% } %>

                   </ul>
               </div>
               <% } else { %>
                 <p>Sorry, No entries yet. Why not <a href='/add'>add few tasks</a> that you did today?<br>
                   <%= APP_TITLE %> will automatigically forecast and tell you the tasks that you might want to do every day. It does this
                   by calculating the time you usually take between two similar tasks.
                 </p>
               <% } %>

             </div>
           </div>
         </div>
       </div>

        <div class="fixed-action-btn">
           <a class="btn-floating btn-large red" href="/add">
             <i class="large material-icons">add</i>
           </a>
        </div>

<%- include('partials/footer', {page: 'browse'}); %>
