<%- include('partials/header', {page: 'home', title: APP_TITLE}); %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="my-0">Your Forecasted Upcoming Tasks</h4>
        </div>
        <div class="card-body bg-light">
          <% if(f_entries.length > 0) { %>
            <p class="card-text">Hey!! These are the tasks you would probably want to do today -</p>
            <ul class="list-group">
              <% f_entries.forEach(function(fe) { %>
                <% 
                  var formattedDate = new Date(fe.ed2).toLocaleDateString('en-US', {
                    weekday: 'long',
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                  });
                %>
                <li class="list-group-item d-flex justify-content-between align-items-center bg-white">
                  <a href="/add?verb=<%= fe.verb %>&task=<%= fe.task %>" class="text-decoration-none text-primary">
                    <span><i class="fa fa-plus-circle text-success"></i> You last <b><%= fe.verb + " " + fe.task %></b> on <b><%= formattedDate || 'Unknown' %></b>.</span>
                  </a>
                  <span class="badge bg-primary text-white"><time class="timeago" datetime="<%= fe.ed %>"><%= fe.ed %></time></span>
                </li>
              <% }) %>
            </ul>
          <% } else { %>
            <p class="card-text">Sorry, No tasks for today. Why not <a href='/add'>add few tasks</a> that you did today?<br>
              <%= APP_TITLE %> will automatically forecast and tell you the tasks that you might want to do every day. It does this
              by calculating the time you usually take between two similar tasks.
            </p>
          <% } %>
          <span id="orphan"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">
          <h4 class="my-0">Your Memories for Today</h4>
        </div>
        <div class="card-body bg-light">
          <% if(m_entries.length > 0) { %>
            <p class="card-text">This is what happened around today's date (<%= dd %>) in the last few years -</p>
            <ul class="list-group">
              <% m_entries.forEach(function(me) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center bg-white">
                  <span><i class="fa fa-info-circle text-success"></i> <%= me.verb + " " + me.task + " on " + me.ed2 %></span>
                  <span class="badge bg-success text-white"><time class="timeago" datetime="<%= me.ed %>"><%= me.ed %></time></span>
                </li>
              <% }) %>
            </ul>
          <% } else { %>
            <p class="card-text">Sorry, No entries on today's date. Why not <a href='/add'>add few entries</a>?<br>
              Has it been a year that you bought that new car? Or had that wonderful vacation? Or met your loved one?
              Let <%= APP_TITLE %> take care of your previous years' memories and bask in nostalgia.
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="position: fixed; bottom: 24px; right: 24px;">
    <a class="btn btn-danger btn-lg" href="/add">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>

<script src="/js/main.js"></script>
<script>
  console.log(isSubscribed);
  setTimeout(subscribeUser, 2000);
</script>
<%- include('partials/footer', {page: 'home'}); %>
